# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
local_infile    = ON
init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4
max_connections = 5001
log-queries-not-using-indexes
default_authentication_plugin=caching_sha2_password
interactive_timeout = 30
wait_timeout = 30

# slow queries
general_log     = ON
slow_query_log  = ON
long_query_time = 3
general_log_file = /var/lib/mysql/general.log
slow_query_log_file = /var/lib/mysql/slow.log
log_error = /var/lib/mysql/error.log

# Custom config should go here
!includedir /etc/mysql/conf.d/

[mysqld_safe]
log_error = /var/log/mysql/mysqld.log

[mysql]
local-infile
no-auto-rehash
default-character-set=utf8mb4

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[client]
default-character-set=utf8mb4
